.flower-component {
  flex-basis: 18%;
  border: 1px solid;
  background-color: rgb(10, 10, 10, 0.6);
}
.flower-component-info {
  text-align: center;
  margin: 15px;
  font-size: 20px;
}
.flower-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.flower-size {
  width: 150px;
  height: 150px;
}
