@import "./flower.css";
body {
  background-image: url("../assets/home-store-1480.webp");
  background-repeat: none;
  background-size: cover;
  color: white;
}
#container {
  background-color: rgb(5, 5, 5, 0.4);
}
.title-alignment {
  text-align: center;
  font-size: 70px;
  margin-bottom: 100px;
}
